<html>
    <head>
        <title>pi-fairy-light-control</title>
    </head>
    <body>
        <h1><a href="/">pi-fairy-light-control</a></h1>
        |  Patten: {{ledThredType}} / {{ledCycleType}}  | <br>
        |  Last Action: {{action}}  |
    <p>
        <form action="/action/off" method="GET" id="action-off">
            <button type="submit" form="action-off">Off</button>
        </form>
        
        <form action="/action/all" method="GET" id="action-all">
            <button type="submit" form="action-all">All</button>
        </form>
        
        <form action="/action/rotate" method="GET" id="action-rotate">
            <button type="submit" form="action-rotate">Rotate</button>
        </form>
        <form action="/action/twinkle-fast" method="GET" id="action-twinkle-fast">
            <button type="submit" form="action-twinkle-fast">Twinkle Fast</button>
        </form>

        <form action="/action/twinkle-medium" method="GET" id="action-twinkle-medium">
            <button type="submit" form="action-twinkle-medium">Twinkle Medium</button>
        </form>
        
        <form action="/action/twinkle-slow" method="GET" id="action-twinkle-slow">
            <button type="submit" form="action-twinkle-slow">Twinkle Slow</button>
        </form>
        
        <form action="/action/sparkle-fast" method="GET" id="action-sparkle-fast">
            <button type="submit" form="action-sparkle-fast">Sparkle Fast</button>
        </form>

        <form action="/action/sparkle-medium" method="GET" id="action-sparkle-medium">
            <button type="submit" form="action-sparkle-medium">Sparkle Medium</button>
        </form>

        <form action="/action/sparkle-slow" method="GET" id="action-sparkle-slow">
            <button type="submit" form="action-sparkle-slow">Sparkle Slow</button>
        </form>

    </p>
    </br>
    </body>
</html>